@model IEnumerable<WebDel3Part2.ViewModels.ComTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.ComponentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.ComponentInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.Datasheet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.WikiLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.AdminComment)
            </th>
            <th>
                Categories
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.ComponentType.Image != null)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.ComponentType.Image.Thumbnail)" />
                }
                else
                { 
                    <label for="Image">No Picture</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentType.ComponentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentType.ComponentInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentType.Location)
            </td>
            <td>
                @Enum.GetName(typeof(ComponentStatus), item.ComponentType.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentType.Datasheet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentType.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentType.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentType.WikiLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentType.AdminComment)
            </td>
            <td>
                @foreach (var categoryName in item.ChoosenCategories)
                {
                    <p>@categoryName</p>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComponentType.ComponentTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComponentType.ComponentTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComponentType.ComponentTypeId">Delete</a> |
                <a asp-action="ComponentList" asp-route-id="@item.ComponentType.ComponentTypeId">Components</a>
            </td>
        </tr>
}
    </tbody>
</table>
